* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --font-color-base: #323238;
    --bg-color-button: #E1E1E6;

}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--font-color-base);

    font-size: 12.6rem;


    background-color: darkolivegreen;

    display: grid;
    justify-content: center;
    align-content: center;

    width: 100vw;
    height: 100vh;
}

.wrapper button {
    background-color: transparent;
    border: none;

    cursor: pointer;
}

.page {
    justify-self: center;

    display: flex;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;

}

#timer {
    display: flex;
    margin-right: 10rem;
}

#controls {
    display: flex;
    gap: 4rem;
}

.climate {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.2rem;
}

.climate button {
    padding: 4rem;
    background: var(--bg-color-button);
    border: none;
    border-radius: 2.4rem;

    cursor: pointer;
}


